{
    "on_save": true,
    "config": [
        "${file_path}/.php_cs",
        "${file_path}/.php_cs.dist",
        "${folder}/.php_cs",
        "${folder}/.php_cs.dist",
        "{{ ansible_user_dir }}/.php_cs"
    ]
}
